/* Header Color Variants */
.text-header-gradient-blue {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #3b82f6, #93c5fd);
}

.text-header-gradient-red {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #ef4444, #f87171);
}

.text-header-gradient-green {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #16a34a, #86efac);
}

.text-header-gradient-yellow {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #fbbf24, #fde68a);
}

.text-header-gradient-purple {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8b5cf6, #a78bfa);
}

.text-header-gradient-pink {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #ec4899, #f472b6);
}

.text-header-gradient-orange {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #fb923c, #fbbf24);
}

.text-header-gradient-cyan {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #06b6d4, #22d3ee);
}

.text-header-gradient-gray {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #374151, #4b5563);
}

.text-header-gradient-black {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #111827, #1f2937);
}

.text-header-gradient-white {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #f9fafb, #f3f4f6);
}

/* Rainbow Text */
.rainbow-text-gradient {
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.blue-pastel-gradient {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top right, #7edff2, #a78bfa, #4f46e5);
}
